@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap');

:root {
    --primary-color: #254441;
    --secundary-color: #43AA8B;
    --accent1-color: #B2B09B;
    --accent2-color: #FF9F59;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #254441; 
    --nav-link-color: #6a87d8;
    --nav-hover-link-color: #ffffff; 
    --nav-hover-background-color: #97a85a;
}

header {
    font-family: 'montserrat', sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 100%;
    }
nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    

}

.history section {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.history h2 {
    grid-column: 1;
    font-size: 100px;
    text-align:end;


}

.history p {
    grid-column: 2;
    font-size: 28px;
    text-align: left;
    margin: 73px;
}
.img section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 1fr;
}
.img h2 {
    grid-column: 1/6;
    text-align: center;
    font-size: 50px;
    
    
}
.img img {
    width: 390px;
}



.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer p {
    grid-column: 1/4;
    text-align: center;
    font-size: 20px;
}
p {
    font-family: 'montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--secundary-color);
}
a:hover {
    color: var(--accent2-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 630px;
    width: 95.1%;
    text-align: center ;
    margin: 0%;
    border: 3px solid rgba(0,0,0,.1);
    padding: 3rem;
    background-color: rgb(36, 87, 87);
    color: rgb(238, 148, 13);
}

.hero article {
    position: absolute;
    top: 950px;
    left: 120px;
    width: 75%;
    font-size: 30px;
    margin: 4em;
    border: 3px solid rgba(0,0,0,.1);
    padding: 3rem;
    background-color: rgb(36, 87, 87, 0.7);
    color: rgb(238, 148, 13);
}

.hero article img {
    float: right;
    width: 400px;
    height: auto;
    top: 1050px;
    left: 1200px;
    
}

h2 {
    color: var(--accent2-color);
}



.img-contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 1px;
}
.img-contact h2 {
    grid-column: 1/6;
    text-align: center;
    font-size: 30px;
    padding: 6px;
}

.img-contact img {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
    display: block;
}
.img-contact figcaption {
    text-align: center;
    color: var(--accent1-color);
    font-size: 22px;
}

.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
}
.contact-info {
    font-size: 22px;
}

.contact-info h1 {

    color: var(--accent2-color);
}

form {
    width: 470px ;
    margin: 3rem auto;
    padding: 4rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #eee;    
}
input, select, textarea {
    padding: 0.25rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align:text-top;
}

button {
    margin: 2rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: 175px;
    
}
button:hover {
    background-color: var(--accent2-color);
}

.help-us {
    text-align: center;
    font-size: 30px;
}