@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap');

:root {
    --primary-color: #254441;
    --secundary-color: #43AA8B;
    --accent1-color: #B2B09B;
    --accent2-color: #FF9F59;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #254441; 
    --nav-link-color: #6a87d8;
    --nav-hover-link-color: #ffffff; 
    --nav-hover-background-color: #97a85a;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a link, nav a:visited {
    color:var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}